html, body {
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.my-web {
    max-width: 1280px;
    height: 3400px;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 900px;
    position: relative;
}

.bg-pic {
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
}

.home-intro,
.home-title,
.home-text,
.home-profile {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(255, 255, 255, 0);
}

#homenote-1 {
    position: absolute;
    top: 30%;
    font-family: 'Caveat',serif;
    font-size: 2rem;
    color: 000000;
}

.home-title {
    position: absolute;
    top: 30%;
    font-family: 'Noto Serif',serif;
    font-size: 60px;
    color: 000000;
}

.home-intro {
    position: absolute;
    top: 47%;
    font-family: 'Epilogue',serif;
    font-size: 22px;
    font-weight: normal;
    line-height: 30px;
    
}

.home-profile {
    position: absolute;
    top: 45%;
}
.作品 {
    display: flex;
    margin-bottom: 150px;
    justify-content: center;
}

.圖片 img {
    width: 400px; /* 可根據需要調整圖片寬度 */
    height: 250px; /* 可根據需要調整圖片高度 */
    margin-right: 70px; /* 可根據需要調整圖片與描述之間的間距 */
}

.背景圖片 {
    position: relative;
    right: 40px; 
}

.主頁圖片 {
    position: absolute;
    top: 75%;
    right: -650px; /* 調整圖片與右邊的間距 */
    transform: translateY(-50%);
}



.proj-intro{
    width: 1130px;
    border-top: 1px solid black;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}


.proj-intro .proj-title {
    display: flex;
    justify-content: center;
    font-family: 'Noto Serif SC Bold',serif;
    font-size: 40px;
    color: #6D58A9;
}

.proj-text-container{
    display: flex;
    gap: 35px;
}

.emoji{
    width: 65px;
    height: 70px;
}

.proj-text {
    margin-top: 0;
    text-align: center;
    font-size: 20px;
    font-family: 'Epilogue',serif;
    line-height: 30px;
    padding-bottom: 80px;
}


.描述 {
    font-family: 'Epilogue',serif;
    text-align: left;
}

.描述 h3 {
    font-family: 'Epilogue',serif;
    margin-top: 0;
    font-size: 24px;
    padding-top: 5px;
    float: left; /* 將 h3 浮動到左側 */
    margin-right: 20px
}

.描述 h4 {
    font-family: 'Epilogue',serif;
    margin-top: 0;
    font-size: 24px;
    padding-top: 5px;
    color: #706d6d;

}

.描述 p {
    font-family: 'Epilogue',serif;
    margin-bottom: 0;
    width: 650px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
}


a:link {
    color: blue;
}

.extra-section{
    border-top: 1px solid black;
    padding-top: 70px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 80px;
}

.more-about{
    font-size: 22px;
    font-family: 'Epilogue',serif;
    line-height: 35px;

}

footer{
    margin-top: 80px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: rgba(92,104,197,0.45);
    width: 100vw;
    text-align: center;
}

@font-face {
    font-family: 'Noto Serif';
    src: url('words/NotoSerif.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Epilogue';
    src: url('words/Epilogue-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Noto Serif SC';
    src: url('words/NotoSerifSC-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Noto Serif SC Bold';
    src: url('words/NotoSerifSC-Bold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}